<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Meetup</title>
    <th:block th:replace="~{includes/commonScripts::head}"></th:block>
</head>
<body>
<h1>Registration</h1>
<form method="post" th:action="@{/event}" th:object="${eventDTO}">
    <div class="form-group">
        <label for="title">Tytuł wydarzenia</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Tytuł wydarzenia" th:field="*{title}">
        <span th:errors="*{title}">Invalid username</span>
    </div>
    <div class="form-group">
        <label for="StartData">Data rozpoczęcia wydarzenia</label>
        <input type="date" class="form-control" id="StartData" name="evenStart" placeholder="dd-MM-yyyy" th:field="*{evenStart}">
        <span th:errors="*{evenStart}">Invalid username</span>
    </div>
    <div class="form-group">
        <label for="EndData">Data zakończenia wydarzenia</label>
        <input type="date" class="form-control" id="EndData" name="evenEnd" placeholder="dd-MM-yyyy" th:field="*{evenEnd}">
        <span th:errors="*{evenEnd}">Invalid username</span>
    </div>
    <div class="form-group">
        <label for="opis">Opis Wydarzenia</label>
        <input type="text" class="form-control" id="opis" name="description" placeholder="Opis wydarzenia" th:field="*{description}">
        <span th:errors="*{description}">Invalid username</span>

    </div>

    <button type="submit" class="btn btn-primary">Dodaj to wydarzenie</button>
</form>
<th:block th:replace="~{includes/commonScripts::script}"></th:block>