<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Meetup</title>
    <th:block th:replace="~{includes/commonScripts::head}"></th:block>
</head>
<body>
<header>
    <form method="get" th:action="@{/search}">
        <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" placeholder="czego szukasz??">
        </div>
        <button type="submit" class="btn btn-primary">Wyszukaj</button>
    </form>
</header>
<div>
    <h2>Widok pełen wydażenia</h2>
    <table class="table table-striped">
        <tr>
            <th>Tytuł wydarzenia</th>
            <th>rozpoczęcie wydarzenia</th>
            <th>zakonczenie wydarzenia</th>
            <th>opis wydarzenia</th>

        </tr>
        <tr>
            <td th:text="${exactEvent.getTitle()}"></td>
            <td th:text="${exactEvent.getEvenStart()}"></td>
            <td th:text="${exactEvent.getEvenEnd()}"></td>
            <td th:text="${exactEvent.getDescription()}"></td>
        </tr>
    </table>
</div>
<div>
    <p>Uczestnicy</p>
    <form method="post" th:action="@{/join(eid=${exactEvent.getId()})}">
        <button type="submit" class="btn btn-primary">Dołącz</button>
        <button type="submit" class="btn btn-primary">Opuść</button>
    </form>
</div>
<br><br>
<div class="comment">
    <h3>komentarze</h3>
    <div class="add-comm">
        <form method="post" th:action="@{/comment(eid=${exactEvent.getId()})}" th:object="${commentaryDTO}">
            <div class="form-group">
                <input type="text" class="form-control" id="description" th:field="*{description}" name="description"
                       placeholder="Dodaj swój komentarz">
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
    </div>
    <br>
    <div class="display-comm" th:unless="${#lists.isEmpty(commentList)}">
        <table class="table table-striped">
            <tr>
                <th>data dodania komentarza</th>
                <th>treść komentarza</th>
            </tr>
            <tr th:each="comment,iter : ${commentList}">
                <!--                <td><a th:href="@{/exact(id=${iter.index},hp=true)}" th:text="${event.getTitle()}"></a></td>-->
                <td th:text="${comment.getAddTime()}"></td>
                <td th:text="${comment.getDescription()}"></td>
            </tr>
        </table>
    </div>
</div>
<th:block th:replace="~{includes/commonScripts::script}"></th:block>
</body>
</html>