<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <th:block th:replace="~{includes/commonScripts::head}"></th:block>
</head>
<body>
<header>
<h1> -= Welcome =-</h1>
<br>
<a href="event" class="btn btn-info" role="button">Dodaj wydażenie</a>
<br>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
<div class="search">
    <form method="get" th:action="@{/search}">
        <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" placeholder="czego szukasz??">
        </div>
        <button type="submit" class="btn btn-primary">Wyszukaj</button>
    </form>
</div>
</header>
<div th:unless="${#lists.isEmpty(eventActiveDTOS)}">
    <h2>Obecne i nadchodzące evnty</h2>
    <table class="table table-striped">
        <tr>
            <th>Tytuł wydarzenia</th>
            <th>rozpoczęcie wydarzenia</th>
            <th>zakonczenie wydarzenia</th>
            <th>opis wydarzenia</th>

        </tr>
        <tr th:each="event : ${eventActiveDTOS}">
            <td th:text="${event.getTitle()}"></td>
            <td th:text="${event.getEvenStart()}"></td>
            <td th:text="${event.getEvenEnd()}"></td>
            <td th:text="${event.getDescription().substring(0,49)}"></td>
        </tr>
    </table>
</div>


<th:block th:replace="~{includes/commonScripts::script}"></th:block>

</body>
</html>