<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <th:block th:replace="~{includes/commonScripts::head}"></th:block>
</head>
<body>
<h1> -= Welcome =-</h1>
<br>
<a href="event" class="btn btn-info" role="button">Dodaj wydażenie</a>
<br>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
<th:block th:replace="~{includes/commonScripts::script}"></th:block>

</body>
</html>