<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <th:block th:replace="~{includes/commonScripts::head}"></th:block>
</head>
<body>
<h1>Registration</h1>
<!--th:action="@/registration"-->
<form method="post" th:action="@{/registration}" th:object="${userRegisterDTO}">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="name" placeholder="User Name" th:field="*{name}">
        <span th:errors="*{name}">Invalid username</span>
        <small class="Help">Nazwa użytkownika nie może być pusta i może mieć max 50 znaków.</small>
    </div>
    <div class="form-group">
        <label for="Email1">Email address</label>
        <input type="email" class="form-control" id="Email1" name="email" placeholder="E-mail" th:field="*{email}">
        <span th:errors="*{email}">Invalid username</span>
        <small class="Help">nie zapomniej o "@" w e-mailu :).</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" th:field="*{password}">
        <span th:errors="*{password}">Invalid username</span>
        <small class="Help">hasło musi mieć od 8 do 30 znaków długości.</small>
    </div>

    <button type="submit" class="btn btn-primary">Zarejestruj</button>
</form>
<th:block th:replace="~{includes/commonScripts::script}"></th:block>
</body>
</html>